@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

*{ margin: 0%; padding: 0px; box-sizing: border-box; }

:root{
    --inputs_font : 'Lexend', 'sans-serif';
    --buttons_font : '';
    --inputs_color : white;
    --butt_regiser_color : yellow;
    --butt_login_color : green;
}

body, html{
    width: 100vw; height: 100vh;
}

@media (orientation:portrait) and (max-width: 600px){

    #register{
         border-color: black; border-radius: 3px;  width: 80%; height: 80%; position: absolute; transform: translate(10vw, 10vh); background-image: url('../../img/hope-sunset-min.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 4px 5px 10px rgb(40, 22, 40);
    }
    #register > #dates{
        display: flex; flex-direction: column; align-items: center;         margin: 25%;
    }

    #register > #dates > span{
        width: 50%; height: 25%;   width: 100%;  height: 25%;  margin: 5%;  border-bottom: 1px solid purple; border-left: 1px solid purple;
    }

    span > label> ion-icon{
        color: white; cursor: pointer;
    }

    #dates > span > input{
        width: 89%; background-color: transparent; border: none; outline: 0; cursor: pointer;
    };
}

